## <a href = 'https://8weeksqlchallenge.com/case-study-3/'>Foodie-Fi</a>

#### Introduction

<img src = 'https://8weeksqlchallenge.com/images/case-study-designs/3.png'>

<br>

Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.

### A - Customer Journey

Based off the 8 sample customers provided in the sample from the subscriptions table, write a brief description about each customerâ€™s onboarding journey.

Try to keep it as short as possible - you may also want to run some sort of join to make your explanations a bit easier!

In [2]:
import sql
from sqlalchemy import create_engine

%load_ext sql
%sql sqlite://

Tables as per link above

In [3]:
%%sql

DROP TABLE IF EXISTS plans;
CREATE TABLE plans("plan_id" INTEGER,
                   "plan_name" TEXT,
                   "price" INTEGER);
INSERT INTO plans
    ("plan_id", "plan_name", "price")
VALUES
    (0, "trial", 0),
    (1, "basic monthly", 9.90),
    (2, "pro monthly", 19.90),
    (3, "pro annual", 199),
    (4, "churn", NULL);

 * sqlite://
Done.
Done.
5 rows affected.

[]

In [4]:
%%sql

DROP TABLE IF EXISTS subscriptions;
CREATE TABLE subscriptions("customer_id" INTEGER,
                           "plan_id" INTEGER,
                           "start_date" DATE);
INSERT INTO subscriptions
    ("customer_id", "plan_id", "start_date")
VALUES
    (1,  0, "2020-08-01"),
    (1,  1, "2020-08-08"),
    (2,  0, "2020-09-20"),
    (2,  3, "2020-09-27"),
    (11, 0, "2020-11-19"),
    (11, 4, "2020-11-26"),
    (13, 0, "2020-12-15"),
    (13, 1, "2020-12-22"),
    (13, 2, "2021-03-29"),
    (15, 0, "2020-03-17"),
    (15, 2, "2020-03-24"),
    (15, 4, "2020-04-29"),
    (16, 0, "2020-05-31"),
    (16, 1, "2020-06-07"),
    (16, 3, "2020-10-21"),
    (18, 0, "2020-07-06"),
    (18, 2, "2020-07-13"),
    (19, 0, "2020-06-22"),
    (19, 2, "2020-06-29"),
    (19, 3, "2020-08-29");

 * sqlite://
Done.
Done.
20 rows affected.

[]

In [5]:
%%sql

SELECT s.customer_id AS id,
    p.plan_name,
    s.start_date
FROM subscriptions AS s
JOIN plans AS p
    ON s.plan_id = p.plan_id
ORDER BY s.customer_id

 * sqlite://
Done.

[(1, 'trial', '2020-08-01'),
 (1, 'basic monthly', '2020-08-08'),
 (2, 'trial', '2020-09-20'),
 (2, 'pro annual', '2020-09-27'),
 (11, 'trial', '2020-11-19'),
 (11, 'churn', '2020-11-26'),
 (13, 'trial', '2020-12-15'),
 (13, 'basic monthly', '2020-12-22'),
 (13, 'pro monthly', '2021-03-29'),
 (15, 'trial', '2020-03-17'),
 (15, 'pro monthly', '2020-03-24'),
 (15, 'churn', '2020-04-29'),
 (16, 'trial', '2020-05-31'),
 (16, 'basic monthly', '2020-06-07'),
 (16, 'pro annual', '2020-10-21'),
 (18, 'trial', '2020-07-06'),
 (18, 'pro monthly', '2020-07-13'),
 (19, 'trial', '2020-06-22'),
 (19, 'pro monthly', '2020-06-29'),
 (19, 'pro annual', '2020-08-29')]

In [6]:
%%sql

SELECT s.customer_id AS id,
    p.plan_name
FROM subscriptions AS s
JOIN plans AS p
    ON s.plan_id = p.plan_id
WHERE p.plan_name LIKE "churn";

 * sqlite://
Done.

[(11, 'churn'), (15, 'churn')]

In [7]:
%%sql

SELECT s.customer_id AS id,
    p.plan_name
FROM subscriptions AS s
JOIN plans AS p
    ON s.plan_id = p.plan_id
WHERE p.plan_name LIKE "pro annual";

 * sqlite://
Done.

[(2, 'pro annual'), (16, 'pro annual'), (19, 'pro annual')]

In [8]:
%%sql

SELECT s.customer_id AS id,
    p.plan_name
FROM subscriptions AS s
JOIN plans AS p
    ON s.plan_id = p.plan_id
WHERE p.plan_name LIKE "pro monthly";

 * sqlite://
Done.

[(13, 'pro monthly'),
 (15, 'pro monthly'),
 (18, 'pro monthly'),
 (19, 'pro monthly')]

In [9]:
%%sql

SELECT COUNT(DISTINCT customer_id) AS unique_customers
FROM subscriptions

 * sqlite://
Done.

[(8,)]

In [14]:
%%sql

SELECT *
FROM subscriptions AS s
INNER JOIN plans AS p ON s.plan_id = p.plan_id
WHERE plan_name IN ('basic monthly', 'pro monthly', 'pro annual')
ORDER BY customer_id, start_date

 * sqlite://
Done.

[(1, 1, '2020-08-08', 1, 'basic monthly', 9.9),
 (2, 3, '2020-09-27', 3, 'pro annual', 199),
 (13, 1, '2020-12-22', 1, 'basic monthly', 9.9),
 (13, 2, '2021-03-29', 2, 'pro monthly', 19.9),
 (15, 2, '2020-03-24', 2, 'pro monthly', 19.9),
 (16, 1, '2020-06-07', 1, 'basic monthly', 9.9),
 (16, 3, '2020-10-21', 3, 'pro annual', 199),
 (18, 2, '2020-07-13', 2, 'pro monthly', 19.9),
 (19, 2, '2020-06-29', 2, 'pro monthly', 19.9),
 (19, 3, '2020-08-29', 3, 'pro annual', 199)]

Of the 8 unique customers who signed up for the streaming service, 2 decided to leave. Customer 11 churned immediately and no further plans were bought, while Customer 15 bought 1 month of pro monthly before leaving.

Pro monthly plans were popular, with 4 customers opting for this service. Of these 8 customers, Customer 19 graduated to the pro annual service. Three customers bought the pro annual service. While one bought it straight after the trial (2), the other bought it after being a basic member for 4 months (16). 

Basic monthly plans were purchased by 3 clients, of whom 2 then purchased the pro monthly plans.

In [11]:
customers = [1, 2, 11, 13, 15, 16, 18, 19]
import random
which_customers_to_talk_about = random.sample(customers, 2)
print(which_customers_to_talk_about)

[13, 2]

Customer 16 started their trial on 2020-05-31. After the free trial ended on 2020-06-07, they started the basic monthly service at 9.90. Around 4 months later on 2020-10-21 they started the pro annual plan at 199. So in total their transactions add up to 238.6.

Customer 11 started their weeklong free trial on 2020-11-19. They got in contact with the company to cancel any further transactions and churned out on the 2020-11-26.